
#wrapper{
    min-height: 100%;
    position: relative;
}

#header{
    width: 100%;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
}

#header h1{
    font-family: 'Itim', cursive;
    margin-top: 10px;
}

.container{
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 100%;
}

#header{
    background: #f5e4e4;
}

header{
    height: 100px;
    margin: 0;
    padding: 0;
}

/* Form */
label{
    font-weight: bold;
    font-size: 13px;
}

input[type=file]{
    margin-top: 20px;
}

section#articles img{
    width: 200px;
    height: auto; 
    margin-right: 10px;
}

section#articles h2{
    font-size: 21px;
    margin:0;
}

.article_info{
    color: #777;
    font-size: 15px;
}

section#articles .item{
    padding: 10px;
}

.item{
    background: #f2f6f2;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.box{
    background: #f2f6f2;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}

.center-block{
    margin: 0 auto;
}

.width-a{
    width: 40%;
}
